/*     
    Code for the Aviation website
    Authors: Jose Felix (1st year) & Isaac Lund (2nd year)
    Start Date: March 29 2019

    File Name: main.css 
    */
html {
    background-color: whitesmoke;
}